{% extends 'base.html.twig' %}

{% block title %}Soins{% endblock %}

{% block body %}
    <h1>Soins</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdKine</th>
                <td>{{ soin.idKine }}</td>
            </tr>
            <tr>
                <th>Nomcab</th>
                <td>{{ soin.nomcab }}</td>
            </tr>
            <tr>
                <th>Nomkine</th>
                <td>{{ soin.nomkine }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ soin.adresse }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_soins_index') }}">back to list</a>

    <a href="{{ path('app_soins_edit', {'idKine': soin.idKine}) }}">edit</a>

    {{ include('soins/_delete_form.html.twig') }}
{% endblock %}
